<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <title>Palindrome Finder</title>
</head>
<body>
    <div class="container">
        <h1>Encontre Números Palíndromos</h1>
        <form action="/result" method="post">
            <label for="start">Intervalo de Início:</label>
            <input type="number" name="start" required>
            <br>
            <label for="end">Intervalo de Fim:</label>
            <input type="number" name="end" required>
            <br>
            <button type="submit">Encontrar Palíndromos</button>
        </form>
    </div>
</body>
</html>
